body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.product-img{
  width: auto;
  height: 200px;
  object-fit: contain;

}
.card{
  height: 100%;
    text-align: center;
    box-shadow: 0 0 4px 0px rgb(207 205 205);
    width: 100%;
    padding: 15px;
}
a.product {
  color: #000;
  text-decoration: none;
}
.product{background-color: #eee}.brand{font-size: 13px}.act-price{color:red;font-weight: 700}.dis-price{text-decoration: line-through}.about{font-size: 14px}.color{margin-bottom:10px}label.radio{cursor: pointer}label.radio input{position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}label.radio span{padding: 2px 9px;border: 2px solid #ff0000;display: inline-block;color: #ff0000;border-radius: 3px;text-transform: uppercase}label.radio input:checked+span{border-color: #ff0000;background-color: #ff0000;color: #fff}.btn-danger{background-color: #ff0000 !important;border-color: #ff0000 !important}.btn-danger:hover{background-color: #da0606 !important;border-color: #da0606 !important}.btn-danger:focus{box-shadow: none}.cart i{margin-right: 10px}



.bage-cart{
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: blue;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
header {
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);
}
header .nav .text-white {
  color: rgb(0 0 0 / 50%)!important;
  text-decoration: none;
}
header .nav .text-white.active {
  color: rgb(0 0 0)!important;
}
header ul.nav.justify-content-center {
  margin: auto !important;
}
header .btn:hover {
  color: #fff !important;
}
a.btn.btn-primary, button.btn.btn-outline-dark.m-1 {
  border: none !important;
}
.signup, .signin {
  width: 500px;
  margin: 50px auto;
  padding: 60px 30px;
  border-radius: 10px;
  background: #4f4c47;
  color: #fff;
}
.signup label.form-label, .signin label.form-label {
  margin: 0;
}
.signup input,.signin input {
  border-radius: 50px !important;
  border: none !important;
}
.signup .tab a.nav-a, .signin .tab a.nav-a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255 255 255 / 50%) !important;
}
.signup .tab a.nav-a.active, .signin .tab a.nav-a.active {
  color:#fff !important;
}
.signup .tab, .signin .tab {
  margin-bottom: 50px;
}

